body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.admin-ticket-container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.game-date {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    margin-top: 20px;
    border: 1px solid black;
}

h2 {
    color: black;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
    display: flex;
    text-align: center;
    justify-content: center;
}

button {
    background-color: #e74c3c;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    margin-bottom: 10px;
}


#startNowButton{ 
    background-color: #0b7dda;
}

#startNowButton :hover{ 
    background-color: #0b7dda;
}
button:hover {
    background-color: #c0392b;
}

button:active {
    background-color: #c0392b;
}


#generate-one-ticket-button {
    background-color: #0b7dda;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 5px;
    margin-bottom: 10px;
}

#generate-one-ticket-button:hover {
    background-color: #0b7dda;
}

button:active {
    background-color: #0b7dda;
}

input[type="button"] {
    background-color: #2196F3;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

input[type="button"]:hover {
    background-color: #0b7dda;
}

input[type="button"]:active {
    background-color: #0b7dda;
}


.tickets-div {
    display: flex;
    justify-content: space-around;
}

.login-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.login-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.login-popup-content h2 {
    text-align: center;
}

.login-popup-content form {
    display: flex;
    flex-direction: column;
}

.login-popup-content label,
.login-popup-content input {
    margin-bottom: 10px;
}

.login-popup-content input[type="submit"] {
    cursor: pointer;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

body.overlay-active {
    background: black;
}

body.overlay-active h1 {
    display: none;
}

body.overlay-active #generate-one-ticket-button {
    display: none;
}

body.overlay-active button {
    display: none;
}

.overlay {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
    z-index: 1;
}

/* The popup box */
.popup {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 300px;
    text-align: center;
    z-index: 2;
}

/* Close button */
.close {
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 20px;
}